body {
  padding-top: 70px;
}
.users-button, .companies-button{
  margin-bottom:10px;
}
.form-user, .form-company, .users.container{
  display:none;
}
.users.container, .companies.container{
  margin-bottom: 15px;
}
.username.container, .company.container{
  margin-top:10px;
  display : flex;
  align-items : center;
}

.abusers.container {
  align-items : center;
  margin-top:10px;
}

.form-control{
  margin-bottom: 15px
}
.abusers.container span.sucess {
  color: #398439;
}
.error-box {
  color:red;
}
